<footer>
    <div id="footer">
        <p> © Coding Ninjas. All Rights Reserved</p>
        <ul>
            <li><a href="/"> Home</a></li>
            <%if(locals.user){%>
            <li><a href="/user/profile/<%= locals.user.id %>"> Profile</a></li>
            <%}%>
        </ul>
    </div>
  
  
  
  
</footer>