<div>
    <p>Enter you're new password</p>
    <br>
    <br>
    <form action="/user/reset_password/changePassword/<%= reset.accessToken %>" method="post">
        <input type="text" name="newpassword" placeholder="New Password">
        <input type="text" name="confirmpassword" placeholder="Confirm Password">
        <input type="submit" value="submit">
    </form>
</div>