<!-- this is the format for the "Partial file rendering " -->
<!-- <html> -->
    <!-- <head></head> -->
    <!-- <body> -->
        <!-- <%- include('_header'); -%> -->
        <!-- <h1> Main project / profile page </h1> -->
        <!-- <%- include('_footer'); -%> -->
    <!-- </body> -->
<!-- </html> -->

<!-- this is the format to follow express-ejs-layout to fill a single layout when follow router path -->
    <link rel="stylesheet" href="/css/user_profile.css">        
    <h1> Main project / <%= title %> </h1>
    <!-- sign up form -->
    <div id="signUp">
        <form action="/user/create-session" method="post">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="abc@gmail.com">
            <label for="password" >Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>


    <p>
        <a href="/user/auth/google"> Google Sign-in/Sign-up</a>
    </p>
    </div>