<!-- this is the format for the "Partial file rendering " -->
<!-- <html> -->
    <!-- <head></head> -->
    <!-- <body> -->
        <!-- <%- include('_header'); -%> -->
        <!-- <h1> Main project / profile page </h1> -->
        <!-- <%- include('_footer'); -%> -->
    <!-- </body> -->
<!-- </html> -->

<!-- this is the format to follow express-ejs-layout to fill a single layout when follow router path -->
    <link rel="stylesheet" href="/css/user_profile.css">        
    <h1> Main project / <%= title %> </h1>