#feed-posts{
    margin:5% ;
    width:60%;
    height:80% ;
    display: inline-block;
    
    & #new-post-form{
        
        & input[type=submit]{
            vertical-align: middle;
            margin-bottom: 20px;
        }
    }

    & #posts-display-container{

        
        & ul{
            list-style: none;
            height: 70%;
            overflow-y: scroll;
            border: 2px solid gray;
            padding: 0;
            & li{
                background-color: skyblue;
                border: 1px solid black;
                margin-bottom: 10px;
                padding: 20px;

                & p.user{
                    color: maroon;
                }

                & p.content{
                    color: white;
                    background-color: black;
                }

                & .post-comments-list{
                 border: 1px solid gray;
                 height: 20%;
                  & ul{
                    overflow-y: scroll;
                    height: 100%;
                  }
                }
            }
        }
    }
}


#user-friends{
    width: 23%;
    display: inline-block;
    vertical-align: top;
}
