@import "./header";
@import "./footer";

body{
    margin: 0;
    
    & #body-content{
        height: 100%;
        background-color: peachpuff;

        & h1{
            margin: 0;
            text-align: center;
        }

        & #user-detail{
            margin: 20px;
        }
    }
}